


/*	Variables
*********************************************************/

:root{
	--spacing: 16px;
	--gray-darker:   #222;
	--gray-dark:     #333;
	--gray:          #555;
	--gray-light:    #777;
	--gray-lighter:  #eee;
	--brand-primary: #337ab7;
	--brand-success: #5cb85c;
	--brand-info:    #5bc0de;
	--brand-warning: #f0ad4e;
	--brand-danger:  #d9534f;
	--color-invalid: #ffffcc;
}








/*	Elementos principales html
*********************************************************/
/*body{
    font-family: 'robotoregular', sans-serif, Arial;
    font-size: 13px;
}*/


input[type=file]::-webkit-file-upload-button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
input[type=file]::-webkit-file-upload-button:hover{	
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
    text-decoration: none;
}
input[type=file]::-webkit-file-upload-button:focus{
	color: #fff;
    background-color: #286090;
    border-color: #122b40;
    text-decoration: none;
    outline: 5px auto -webkit-focus-ring-color; */
    outline-offset: -2px;
}
input[type=file]::-webkit-file-upload-button:active{
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}


label{
    display: block;
    font-family: 'robotomedium', sans-serif, Arial;
    font-weight: normal;
}
label a{
    opacity: 0;
    float: right;
    margin-right: 5px;
}
.form-group:hover label a{
    opacity: 1;
}

/*.btn{
    font-size: 13px;
    padding: 7px 12px;
}*/


/*arreglo para las tablas*/
thead, tbody, tr, td, th { display: block; }
tbody {
    height: 260px;
    overflow-y: auto;
}
tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
tbody td, thead th {
    width: 20%;
    float: left;
}

form{
    position: relative;
}


/*	Clases
*********************************************************/
.g-input{
	text-transform: uppercase;
}
.g-input:invalid{
	background: var(--color-invalid);
}

.g-space{
	margin: 100px;
}

.g-table-hover tbody tr:hover{
	background: var(--brand-primary);
	color: var(--gray-lighter);
}

tr.striped{
	background: var(--gray-lighter);
}

.g-hideByDefault{
	display: none;
}
.g-showByDefault{
    display: block;
}

.g-img{
    display: block;
	height: 59px;
    margin: 0 auto;
}

.g-img-modelo{
	display: block;
	min-height: 59px;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin: 26px 0;   
    width: 100%;
    height: auto;
}


.g-modal-coincidencias{
    float: left;
}


/*Barra lateral aside*/
.g-aside{
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 15px;
}
.g-aside-section{
    border: 1px solid #d9d9d9;
}
.g-button-aside-open{
    position: absolute;
    top: 0;
    right: 0;
}
.g-button-aside-close{   
    border-radius: 4px 0px 0px 4px;
    left: -26px;
    position: absolute;
    width: 42px;
}

.g-aside-section .g-img-modelo{
    min-height: auto;
    text-align: center;
    margin: 15px auto;
    width: 80%;
}

.g-aside-section .row div:first-child{
    text-align: right;
    font-weight: bold;
}
.g-aside-section .row{
    margin-bottom: 10px;
}
.g-aside-section .row:first-child{
    margin-top: 10px;
}
