


/*	Variables
*********************************************************/

:root{
	--spacing: 16px;
	--gray-darker:   #222;
	--gray-dark:     #333;
	--gray:          #555;
	--gray-light:    #777;
	--gray-lighter:  #eee;
	--brand-primary: #337ab7;
	--brand-success: #5cb85c;
	--brand-info:    #5bc0de;
	--brand-warning: #f0ad4e;
	--brand-danger:  #d9534f;
	--color-invalid: #ffffcc;
}








/*	Elementos principales html
*********************************************************/
body{
    font-family: sans-serif, Arial, Helvetica;
    /*font-size: 13px;*/
}


/*Se ocultan los input file para que sean sustituidos*/
input[type=file] {
    display: none;
}
input#botonArchivo {
    margin-bottom: 5px;
}


label a{
    opacity: 0;
    float: right;
    margin-right: 5px;
}
.form-group:hover label a{
    opacity: 1;
}
.form-group label{
    display: block;
    font-weight: bold;
}



/*arreglo para las tablas del modal*/
.g-table-modal thead, .g-table-modal tbody, .g-table-modal tr, .g-table-modal td, .g-table-modal th {
    display: block; 
}
.g-table-modal tbody {
    height: 260px;
    overflow-y: auto;
}
.g-table-modal tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.g-table-modal tbody td, .g-table-modal thead th {
    width: 20%;
    float: left;
}

form{
    position: relative;
}


/* Dropdown */
.dropdown label {
    display: block;
    padding: 2px 20px;
    clear: both;
    font-weight: normal;
    line-height: normal;
}
.dropdown input{
    margin: 0 4px 0 0;
}




/*  IDs
*********************************************************/


/* tabla recambio vehiculo */
#g-tablaRecambioVehiculo button{
    margin: 0 auto;
    display: block;
}



/*	Clases
*********************************************************/
.g-input{
	text-transform: uppercase;
}
.g-input:invalid{
	background: var(--color-invalid);
}

.g-space{
	margin: 100px;
}

.g-table-hover tbody tr:hover{
	background: var(--brand-primary);
	color: var(--gray-lighter);
}

tr.striped{
	background: var(--gray-lighter);
}

.g-hideByDefault{
	display: none;
}
.g-showByDefault{
    display: block;
}

.g-img{
    display: block;
	height: 59px;
    margin: 0 auto;
}

.g-img-modelo{
	display: block;
	min-height: 59px;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin: 26px 0;   
    width: 100%;
    height: auto;
}


.g-modal-coincidencias{
    float: left;
}


/*Barra lateral aside*/
.g-aside{
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 15px;
}
.g-aside-section{
    border: 1px solid #d9d9d9;
}
.g-button-aside-open{
    position: absolute;
    top: 0;
    right: 0;
}
.g-button-aside-close{   
    border-radius: 4px 0px 0px 4px;
    left: -26px;
    position: absolute;
    width: 42px;
}

.g-aside-section .g-img-modelo{
    min-height: auto;
    text-align: center;
    margin: 15px auto;
    width: 80%;
}

.g-aside-section .row div:first-child{
    text-align: right;
    font-weight: bold;
}
.g-aside-section .row{
    margin-bottom: 10px;
}
.g-aside-section .row:first-child{
    margin-top: 10px;
}


/*mantenimiento*/
.g-table-mantenimiento{
    height:320px; 
}
.g-table-mantenimiento tr{
    border: 1px solid #ddd;
    width: 100%;
    display: inline-table;
    height:36px;
    table-layout: fixed;
}
.g-table-mantenimiento th, .g-table-mantenimiento td{
    width: 6%;
    text-align: center;
}
.g-table-mantenimiento th:nth-of-type(-1n + 3), .g-table-mantenimiento td:nth-of-type(-1n + 3){
    width: 9.334%;
    text-align: center;
}
.g-table-mantenimiento th.btn{
    display: table-cell;
}

.g-table-mantenimiento tbody{
    overflow-y: scroll;
    height: 238px;
    position: absolute;
}

.oculto{
    display: none;
}