


/*	Variables
*********************************************************/

:root{
/*	--primary-color: #fff;
	--secondary-color: #3366ff;
	--warning-color: rgba(255,255,0,0.3);;
	--dark-color: #333;
	--hover-color: rgba(255,255,255,0.3);
	--button-height: 30px;
	--input-height: 26px;
	--font-size: 16px;
*/	--spacing: 16px;

	--gray-darker:   #222;
	--gray-dark:     #333;
	--gray:          #555;
	--gray-light:    #777;
	--gray-lighter:  #eee;
	--brand-primary: #337ab7;
	--brand-success: #5cb85c;
	--brand-info:    #5bc0de;
	--brand-warning: #f0ad4e;
	--brand-danger:  #d9534f;
}




/*	Elementos principales html
*********************************************************/
input{
	text-transform: uppercase;
}




/*	Clases
*********************************************************/
.o-navbar-btn{
	margin: var(--spacing) 1%;
}

.o-modal-dialog{
	width: 960px;
}

.table-hover tbody tr:hover{
	background: var(--brand-primary);
	color: var(--gray-lighter);
}












