


/*	Variables
*********************************************************/

:root{
	--spacing: 16px;
	--gray-darker:   #222;
	--gray-dark:     #333;
	--gray:          #555;
	--gray-light:    #777;
	--gray-lighter:  #eee;
	--brand-primary: #337ab7;
	--brand-success: #5cb85c;
	--brand-info:    #5bc0de;
	--brand-warning: #f0ad4e;
	--brand-danger:  #d9534f;
}





/*	Clases
*********************************************************/
.o-navbar-btn{
	margin: var(--spacing) 1%;
}

.o-modal-dialog{
	width: 960px;
}

.o-selected{
	background: var(--brand-success) !important;
}

.o-popover-content{
	padding: 0;
}

.o-popover-title{
	background-color: transparent;
	border: none;
}










